* {
  box-sizing: border-box;
}
body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  background-color: #f3f6fd;
  font-weight: 400;
}
.app {
  display: flex;
}
.navigation-section {
  background-color: #fff;
  min-height: 100vh;
  padding: 30px;
}
.logo {
  margin-bottom: 50px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.menu__item {
  background: #ffffff;
  box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
  border-radius: 14px;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.menu__item:hover {
  background-color: #6a6afb;
}
.menu__item:hover img {
  filter: brightness(0) invert(1);
}
.menu__item_active {
  background: #5051f9;
}
.menu__item_active img {
  filter: brightness(0) invert(1);
}
.menu__add {
  border: 1px solid #cad5ff;
  border-radius: 14px;
  background: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.menu__add:hover {
  background-color: #eff2ff;
}
.main-section {
  min-width: 900px;
  padding: 45px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h1 {
  font-size: 30px;
  line-height: 33px;
  color: #000000;
}
.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 235px;
}
.progress__text {
  display: flex;
  justify-content: space-between;
}
.progress__name {
  font-size: 14px;
  line-height: 16px;
  color: #232360;
}
.progress__procent {
  font-size: 12px;
  line-height: 13px;
  color: #768396;
}
.progress__bar {
  width: 100%;
  background: #e6e9ed;
  border-radius: 4px;
  height: 5px;
  position: relative;
}
.progress__cover-bar {
  transition: all 0.5s;
  position: absolute;
  height: 50%;
  background: #5051f9;
  border-radius: 4px;
  height: 5px;
}
.main {
  margin-top: 30px;
}
.habbit {
  display: flex;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 12px;
  align-items: center;
}
.habbit__day {
  background: #fbfaff;
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #e7ebfb;
  font-size: 14px;
  line-height: 16px;
  padding: 20px 40px;
  min-width: 150px;
}
.habbit__comment {
  font-size: 16px;
  line-height: 18px;
  color: #23235f;
  padding: 20px 25px;
}
.habbit__delete {
  margin-left: auto;
  margin-right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
}
.habbit__delete:hover {
  background-color: #eff2ff;
}
input {
  background: #ffffff;
  border: 1px solid #e7ebfb;
  border-radius: 9px;
  padding: 12px 20px;
  font-family: 'Comfortaa', cursive;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  flex: 1;
}
input.error {
  border: 1px solid red;
}
input::placeholder {
  color: #8899a8;
}
.input_icon {
  padding-left: 45px;
}
.input__icon {
  position: absolute;
  top: 10px;
  left: 45px;
}
.habbit__form {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0px 10px 0 25px;
  position: relative;
}
.button {
  background: #edecfe;
  border-radius: 9px;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  padding: 14px 30px;
  color: #5051f9;
  cursor: pointer;
}
.button:hover {
  background: #dcdaff;
}
.cover {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;
}

.cover_hidden {
  display: flex;
  transition: all .3s ease-in-out;
}

.popup {
  background: #ffffff;
  box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
}

.icon-label {
  font-size: 14px;
  line-height: 16px;
  color: #768396;
  margin-bottom: 10px;
}

.icon-select {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.icon {
  border: 1px solid #5051f9;
  border-radius: 14px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.icon_active {
  background: #5051f9;
}

.icon:hover {
  background: #6a6afb;
}

.icon:hover img {
  filter: brightness(0) invert(1);
}

.icon_active img {
  filter: brightness(0) invert(1);
}

.popup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.popup__form input {
  width: 100%;
}
